.page-container {
  height: 100%;
  width: 100%;

  padding: 20px 30px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

#videos-table {
  border-collapse: collapse;
  width: 100%;

  overflow-x: auto;
}

#videos-table td,
#videos-table th {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

#videos-table tr:hover {
  background-color: #f2f2f2;
}

#videos-table td {
  font-size: 14px;
}

#videos-table th {
  font-size: 16px;
  font-weight: bold;
  text-align: center;

  padding: 10px;
}

.first-column {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.first-column svg {
  min-width: 16px;
}

.video-name {
  cursor: pointer;

  text-decoration: none;

  color: #000;
}

.video-name:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .page-container {
    padding: 20px 15px;
  }

  #videos-table td,
  #videos-table th {
    padding: 5px 5px;

    font-size: 12px;
  }

  #videos-table th {
    padding: 5px;
  }
}
